<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizzy.mrk.leagueoflegends">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lol"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lol"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameStatActivity"></activity>
        <activity android:name=".GameHistoryActivity" />
        <activity android:name=".SearchPlayerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>